/* @font-face {
    font-family: 'Futura Hv BT';
    src: url('../Futura-Book-Font/FuturaRegular.otf') format('truetype') !important;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Victor+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    /* font-family: 'Futura Hv BT'; */
    /* font-family: 'Montserrat', sans-serif !important; */
}

:root {
    --color-1: rgba(255, 255, 255, 0.87);
    --color-2: rgba(255, 255, 255, 0.57);
    --color-3: #FFFFFF;
    --color-4: #00349a;
    --color-5: #202D35;
    --color-6: #18BEF0;
    --color-7: #ECECEC;
    --color-8: #FC466B;
    --color-9: #161817;
    --color-10: #161817;
    --color-11: #575757;
    --color-12: #3531b1;
    --color-13: #4072EA;
}

body {
    background: var(--color-10) !important;
    color: var(--color-1) !important;
}

/* ============== homepage start =================  */
.cicle_bg_img {
    width: 400px;
    top: -50px;
    left: 0px;
}

.cleaning_services_title {
    color: red !important;
}

.fa-brands,
.fab {
    font-family: "Font Awesome 6 Brands" !important;
}

.fa-classic,
.fa-regular,
.fa-solid,
.far,
.fas {
    font-family: "Font Awesome 6 Free" !important;
}

.eeb_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.57);
}

.titleText {
    font-family: 'Futura Hv BT';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 69px;
    background: linear-gradient(180deg, #FC466B -48.19%, #5972F4 82.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */

}

.join_our_team {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05em;
    background: var(--color-6);
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    color: var(--color-1);

}

/* .you_looking_search_btn {
    position: absolute;
    height: 70px;
    background: #1E201F !important;
    opacity: 0.7;
    border: 2px solid #FFFFFF !important;
    top: -100px;
} */
.my_input {
    width: 50%;
    height: 60px;
    padding: 10px 20px;
    background: var(--color-9) !important;
    outline: none;
    border: none;
    border-radius: 20px;
}

.your_location {
    /* position: absolute; */
    width: 100%;
    background: var(--color-9);
    opacity: 0.7;
    border: 2px solid var(--color-3);
    border-radius: 20px;
    top: -160px;

}

.you_looking_text {
    font-weight: 400 !important;
    font-size: 18px !important;
    letter-spacing: 0.05em;
    color: var(--color-1);
}

.lft_brdr {
    border-left: 2px solid var(--color-3);
    height: 68px;
    outline: none;
}

.search_btn {
    padding: 15px 40px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: var(--color-1);
    background: var(--color-6);
    border-radius: 15px;
    border: none;

}

/* ============== homepage End =================  */

.owl-carousel {
    /* Owl Carousel styles */
}

.custom-owl-dots {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.custom-owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-owl-dots .owl-dot.active {
    background-color: purple;
}

/* ========= Feature Categories Start ======= */
.back_forword_btn {
    display: flex;
    justify-content: end;
}

.feature_cat_title {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: var(--color-6);
}

.feature_cat_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;
}

.a_tag_img {
    position: relative;
}

.a_tag_img a {
    text-decoration: none;
    color: var(--color-1);
    cursor: pointer;
}

/* .a_tag_img a:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0.3;
    z-index: 10000;
    border-radius: 10px;

} */

.a_tag_img a:hover:after {
    background-color: var(--color-4);
    transition: 0.3s;
    /* z-index: -1000; */
    color: var(--color-1) !important;
}

.feature_card {
    border-radius: 10px;
    position: relative;
    /* background-color: var(--color-10);
    opacity: 0.6; */
}

.feature_card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);
}


.feature_card:hover:before {
    background-color: rgba(1, 105, 179, 0.479);
    /* Pink color overlay */
}

.img_icon_div {
    background-image: url(/images/img/icon2.png);
    background-position: center;
    background-size: cover;
    width: 30%;
    height: 100%;
}

.card_text {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

}

/* ========= Feature Categories Start ======= */

/* ========= Gallery Services Start ======= */
.a_tag a {
    text-decoration: none;
    color: var(--color-1);
    cursor: pointer;
}

.a_tag a:hover {
    background-color: #B21490;
    color: var(--color-1);
    transition: 0.3s;
}

.gallery_card {

    background-color: var(--color-4);
    border-radius: 10px;
}

.gallery_card1 {
    background-color: var(--color-5);
    border-radius: 10px;
    padding: 25px;

}

.gallery_img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.gallery_img img {
    /* padding-top: 20px; */
    width: 100% !important;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    object-fit: cover;
}

.gallery_text {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    margin-bottom: 0 !important;
}

.view_all_btn {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    padding: 15px 30px;
    background: var(--color-6);
    color: var(--color-1);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.view_all_btn:hover {
    background: var(--color-4) !important;
    color: var(--color-1);
}

/* .all_btn:hover {
    background-color: var(--color-4);
    color: var(--color-1);
    transition: 0.3s;

} */

/* ========= Gallery Services End ======= */

/* ========= Request a free Quote  Start ======= */
.reduest_free_bg_img {

    background: #000000;
    background: url('../images/img/quotebgd.png');
    background-position: center;
    background-size: cover;
    height: 300px;
}

.request_free_text {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.25em;
    color: var(--color-1);
}

.free_quote_btn {
    background: var(--color-3);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: var(--color-10);
    border-radius: 10px;
    padding: 15px 30px;
    border: none;
    transition: all .3s ease-in-out;
}

.free_quote_btn:hover {
    background: var(--color-4);
    color: var(--color-3);
}

/* ========= Request a free Quote  End ======= */

/* ========= Contact Us Start ======= */
.communicat_with_us {
    display: flex;
}

.communicat_with_us a {
    text-decoration: none;
    color: var(--color-1);
    cursor: pointer;
}

.communicat_with_us a:hover {
    background: var(--color-4);
    color: var(--color-1);
    transition: 0.3s;
}

.bagWhite {
    background-color: var(--color-3) !important;
    color: #000000 !important;
    width: 100% !important;
}

.contact_us_bgclr {
    background: var(--color-9);
}

.get_in_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.get_in_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: var(--color-2);
}

.icon_styling {
    width: 20%;
}

.icon_styling img {
    width: 85%;
}

.contact_card_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.Contact_card_text {
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
}

.contact_us_card {
    /* width: 325px;
    height: 100px; */
    background: var(--color-6);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 15px;
}

/* ========= Contact Us End ======= */

/* ========= About Us Start ======= */
.footer_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.footer_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.my_logo {
    width: 182px;
    height: 67px;
    background: var(--color-7);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_title {
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.1em;
}

.footer_img_gallery {
    display: flex;
    justify-content: center;
    border-radius: 10px 0px 0px 0px;
}

.footer_card {
    width: 80px;
    height: 80px;
    border-radius: 10px 0px 0px 0px;
}

.get_a_quote_btn {
    background: var(--color-6);
    color: rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    padding: 10px 20px;
    width: 150px;
    height: 41px;
    border: none;
}

.footer_navbar nav a {
    color: var(--color-1);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.footer_navbar nav a:hover {
    color: var(--color-6);
    transition: 0.3s;
}

.my_btm_bdr {
    margin: 0px 10px;
    border: 1px solid var(--color-3);
}

.footer_copy_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
}

.searchBox {
    position: absolute;
    top: 469px;
    width: 82%;
}

.sInp {

    background: transparent !important;
}

.sInp::placeholder {}

/* .mainSearch{
    background: #1E201F;
opacity: 0.7;
border: 2px solid #FFFFFF;
border-radius: 20px;
} */
/* .look{
    border-right: 2px solid #FFFFFF;
} */
.sBtn {
    background: var(--color-6) !important;
    border-radius: 15px !important;
    color: var(--color-3) !important;
    font-weight: 600;
}

/* ========= About Us End ======= */

/* ==================== Media Quiry ======================= */
@media screen and (max-width:992px) {
    .you_looking_search_btn {
        height: auto;
        top: 0px;
    }

    .gallery_card {
        height: 300px;
    }

    .communicat_with_us {
        flex-direction: row;
    }

    .cicle_bg_img {
        width: 400px;
        top: 45px;
    }

}

@media screen and (max-width:520px) {

    .your_location {

        width: 100%;
        background: var(--color-9);
        opacity: 0.7;
        border: none;
        border-radius: 20px;
        top: 0px;
    }

    .search_btn {
        width: auto;
        height: auto;
    }

    .contact_us_card {
        width: auto;
    }

    .footer_img_gallery {
        justify-content: start;
    }

    .cicle_bg_img {
        width: 200px;
        top: 45px;
    }

}

@media screen and (max-width:768px) {
    .your_location {
        border: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .lft_brdr {
        border: 1px solid var(--color-3);
        border-radius: 20px;
    }

    .lInput {
        border: 1px solid var(--color-3);
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .communicat_with_us {
        flex-direction: column;
    }

    .contact_us_card {
        /* width: 100%; */
    }

    .you_looking_text {
        width: 100%;
    }

    .lft_brdr {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .cicle_bg_img {
        width: 400px;
        top: 45px;
    }

    .gallery_img {
        height: 300px;
    }
}

.complex-text {
    display: none;
}

.a_tag_img a:hover .complex-text {
    display: block;
    color: var(--color-3) !important;

}

/* .card__card {
    background-color: var(--color-6);
    transition: all .3s ease-in-out;
}

.card__card:hover {
    background-color: var(--color-4);
}

.card__card__img {
    width: 100%;
    display: flex;
}

.card__card__img img {
    width: 70%;
    margin: 10px auto;

}

.card__body {
    margin: 10px auto;
}

.card__body h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-1);
    text-decoration: none;
}

.card__body p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-1);
    text-decoration: none;
}

.anchor__card {
    text-decoration: none;
} */